Repository Quantipy/quantipy, pull requests merged in 2018-03, with the labels that each got.

#982 Bugfix in _statname to pick correct name.
  quantipy/sandbox/sandbox.py
Labels: bug, chain

#979 I965 excel tests
  quantipy/sandbox/excel.py
  quantipy/sandbox/excel_formats.py
  quantipy/sandbox/excel_formats_constants.py
  quantipy/sandbox/qplogo_invert.png
  quantipy/sandbox/sandbox.py
  quantipy/sandbox/t_excel.py
  quantipy/sandbox/t_folders.py
  tests/basic.xlsx
  tests/complex_0.xlsx
  tests/complex_1.xlsx
  tests/complex_2.xlsx
  tests/complex_3.xlsx
  tests/parameters_chain.py
  tests/parameters_excel.py
  tests/test_chain.py
  tests/test_excel.py
Labels: builds, chain, enhancement

#938 Array summaries exempt from italic base.
  quantipy/core/builds/excel/excel_painter.py
Labels: bug, builds

#996 I995 hide empty values
  quantipy/core/batch.py
  quantipy/core/dataset.py
Labels: enhancement
